#sim {
  display: none;
  background-color: rgb(255, 233, 255) !important;
}
.title-app {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: rgb(61, 19, 61);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 999;
  transform: translateY(110%);
}

.title-app-visible {
  opacity: 1;
}

main {
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr 50%;
  height: 100vh;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.main-visible {
  opacity: 1;
}

main img {
  width: 100%;
  display: flex;
}
main small {
  height: 100%;
  transition: opacity 0.3s ease-in;
  background-color: rgb(255, 233, 255);
  font-size: 2.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: rgb(61, 19, 61);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sim-visible {
  display: block !important;
}

.simulation-description {
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 40%;
  font-size: 1.1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(61, 19, 61);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 999;
  transform: translate(70%, 900%);
  background-color: white;
  border-radius: 4px;
  color: rgb(50, 50, 50);
  padding: 0.5rem;
}

.simulation-description-visible {
  opacity: 1;
}

.hidden {
  display: none;
}

@supports (-webkit-touch-callout: none) {
  .hidden {
    display: none;
  }
}

@-moz-document url-prefix() {
  .hidden {
    display: none;
  }
}
